extend layout

block content
  .profile-container
    h1 Members Area
    p Welcome to the members area
    if users
      p
        strong Name : 
        | #{users.name}
      p
        strong Email : 
        | #{users.email}
      p
        strong Username : 
        | #{users.username}
  .session-container-header
    table(style={'width':'fit-content','padding':'0px'}) 
      tr
        th(style={'text-align':'left','padding':'0px','width':'auto'}) Select Session No. to view session details : 
        td
          select.form-control(id='session_no' name="session_no")
            option(hidden) Select Session No.
              if sessions 
                each session,i in sessions
                  option(value='#{i+1}') #{i+1}
  if sessions
    each session, i in sessions
      div(id='session_id_#{i+1}',style='display:none',class='session-container-body')
        strong Session No. #{i+1} 
        li
          strong Vehicle Plate No. : 
          |  #{session.vehicle_id}
        li
          strong Vehicle Booked Time : 
          span.session_date #{session.session_start}
        if(session.session_end)
          li
            strong Vehicle Returned Time : 
            span.session_date #{session.session_end}
        else
          li
            strong Vehicle Returned Time : 
            span Vehicle not returned yet
                

