extends layout

block content
    if errors
        each error, i in errors
            div.alert.alert-danger #{error.msg}
    .form-container
        .form-header
            h4.page-header Return Vehicle
            p Select Vehicle to return
        form(action="/users/member/#{session.username}/returnvehicle", method="post")
            .form-group
                //- input.form-control(name='username', type='text', value='#{session.username}' hidden)
                input.form-control(hidden name='session_end', type='', value = Date.now())
                label Vehicle Plale Number
                select(name="vehicle_id").form-control
                        option(value=session.vehicle_id) #{session.vehicle_id}
                    //- input.form-control(name='vehicle_id', type='text', value='#{session.vehicle_id}')
                    //- input.form-control(name='username', type='text', value='#{user.name}' hidden)
                    //- label Vehicle Manufacturer
                    //- input.form-control(name='vehicle_manuf', type='password', placeholder='Enter Vehicle Manufacturer')
            input.btn.btn-primary(type='submit', name='submit',value='return Vehicle')
    
    